.footer-section {
  padding: 70px 0 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #262b2e;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  .diagonal-shadow {
    z-index: 1;
    padding-top: 6em;
    background: #262b2e;

    &:before, &:after {
      position: absolute;
      content: '';
      pointer-events: none;
      top: 0;
      left: -25%;
      z-index: -1;
      width: 150%;
      height: 75%;
      background: inherit;
      -webkit-transform: rotate(-2deg);
      transform: rotate(-2deg);
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
    }

    &:before {
      height: 50%;
      background: #edf3f8;
      -webkit-transform: rotate(-3deg);
      transform: rotate(-3deg);
      -webkit-transform-origin: 3% 0;
      transform-origin: 3% 0;
      z-index: 1000;
    }

    &:after {
      background-color: #404548;
      height: 50%;
    }
  }
  .connect-me {
    display: flex;
    align-items: center;
    justify-content: center;

    .social-icon {
      margin: 0 20px;
      color: white;

      &:hover {
        color: #04C2C9;
      }
      span {
        font-size: 2.0em;
        cursor: pointer;
      }
    }
  }


  .copyright {
    display: flex;
    color: #8F9AA7;
    font-size: 0.9em;
    text-align: center;
    margin-top: 20px;

    .year {
      color: #E31B6D;
      margin-left: 0.5em;
    }
  }

  .move-top-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2.6em;

    @media only screen and (max-width: 1500px) {
      top: 3.0em;
    }

    @media only screen and (max-width: 1300px) {
      top: 3.6em;
    }

    @media only screen and (max-width: 1200px) {
      top: 4.6em;
    }
    @media only screen and (max-width: 992px) {
      top: 5.6em;
    }
    z-index: 100;
    .move-top {
      background-color: #E31B6D;
      color: white;
      padding: 15px 8px;

      @media only screen and (max-width: 781px) {
        padding-top: 10px
      }

      &:hover {
        cursor: pointer;
        color: white;
      }
      span {
        font-size: 2.4em;
      }
    }
  }
}